:root {
    --light-foreground-color: black;
    --dark-foreground-color: whitesmoke;
    --high-contrast-foreground-color: whitesmoke;
}

body {
    font-family: sans-serif;
    font-size :large;
    padding-left: 20px;
    padding-top: 40px;
}

html {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
}

textarea {
    width: 500px;
    font-weight: bold;
    font-family: "Consolas";
    color: rgb(35, 206, 137);
    background-color: rgb(30, 30, 30);
}

.container {
    width: 1200px;
    height: 650px;
}

.toolbar {
    overflow: visible;
    width: 100%;
    top: 0;
    position: absolute;
    background: gray;
    box-shadow: black 0 0 1em;
    color: black;
    display: flex;
    font: 12px "Segoe UI", sans-serif;
    padding: 0.25em;
    white-space: nowrap;
    z-index: 2;
}

.left-panel,
.center-panel,
.right-panel {
    align-items: center;
    display: flex;
    flex: 1;
}

.center-panel {
    justify-content: center;
}

.right-panel {
    justify-content: flex-end;
}

.button {
    background: dimgray;
    border: none;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: default;
    font: inherit;
    margin: 0.25em;
    outline: none !important;
    padding: 0.5em;
    text-align: center;
    text-decoration: none !important;
    transition: background ease-out 125ms, color ease-out 125ms;
    user-select: none;
    width: 10em;
}

.button:hover {
    background: darkgray;
    box-shadow: inset rgba(255, 255, 255, 0.25) 0 0 1em;
    color: black;
}

.fancy-checkbox>input:checked+div,
.button:active {
    background: silver;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0 0 1em;
    color: black;
}

.fancy-checkbox>input {
    display: none;
}